[2018-05-25 14:29] ggdaltoso opened #2 "Global CSS to stylesheet file"

[2018-05-25 14:29] ggdaltoso opened #3 "Scrollbar"

[2018-05-25 14:29] ggdaltoso opened #4 "TextArea"

[2018-05-25 14:30] ggdaltoso opened #5 "Tooltip"

[2018-05-25 14:30] ggdaltoso opened #6 "README.md"

[2018-05-25 14:31] ggdaltoso commented on #6
- Logo
 - How to Use
 - How to contribute

[2018-05-25 14:33] ggdaltoso opened #7 "Add repo URL to storybook config file"

[2018-05-25 14:33] ggdaltoso opened #8 "Sort stories"

[2018-05-25 18:33] #3 closed

[2018-05-25 18:54] #7 closed

[2018-05-25 19:13] ggdaltoso commented on #2
It was created a Frame decorator as a temporary solution :+1:

[2018-05-25 19:13] #2 closed

[2018-05-26 23:09] ggdaltoso opened #9 "Input"

[2018-05-26 23:09] ggdaltoso opened #10 "Dropdown"

[2018-05-26 23:09] ggdaltoso opened #11 "Checkbox"

[2018-05-26 23:10] ggdaltoso opened #12 "Popover"

[2018-05-26 23:11] ggdaltoso opened #13 "Loader"

[2018-05-26 23:12] ggdaltoso opened #14 "Progress"

[2018-05-26 23:28] ggdaltoso opened #15 "Tab and TabbedView"

[2018-05-27 12:57] ggdaltoso opened #16 "Cursor"

[2018-05-27 19:56] #16 closed

[2018-05-28 16:54] allyssonsantos opened #17 "Fieldset"

[2018-05-29 01:33] #4 closed

[2018-05-30 01:29] ggdaltoso opened #18 "Create an Export file"

[2018-05-31 18:31] ggdaltoso opened #19 "Change js ext to jsx"

[2018-05-31 19:52] ggdaltoso opened #20 "Update font"

[2018-05-31 19:52] #9 closed

[2018-05-31 19:52] #20 closed

[2018-05-31 20:07] #19 closed

[2018-06-04 01:45] #5 closed

[2018-06-05 23:27] ggdaltoso opened #21 "React95 image logo"

[2018-06-06 01:31] ggdaltoso opened #22 "Replace caret with ▲ (&#9650;) and ▼ (&#9660;)"

[2018-06-12 00:31] ggdaltoso commented on #22
SVG is a better option!

#ftw

[2018-06-12 00:31] #22 closed

[2018-06-13 00:37] #11 closed

[2018-06-14 01:02] ggdaltoso opened #23 "Update left panel"
To be like "My Programs", from startup menu

[2018-06-15 10:57] #17 closed

[2018-06-15 21:21] ggdaltoso opened #24 "Code example"
Notepad window (modal) with a code in a TextArea

[2018-06-15 21:22] ggdaltoso opened #25 "Menu bar in Modal window"

[2018-06-17 01:38] ggdaltoso opened #26 "Modal Icon"

[2018-06-17 01:38] #26 closed

[2018-06-17 01:41] ggdaltoso opened #27 "Create List Component"

[2018-06-19 01:30] ggdaltoso commented on #27
Done*.

*only horizontal

[2018-06-19 01:30] #27 closed

[2018-06-19 16:32] ggdaltoso opened #28 "Button List"

[2018-06-21 13:03] ggdaltoso opened #29 "Range Component"

[2018-06-21 13:41] nicholasess opened #30 "Add Webpack"
Storybook has the focus to build components, but webpack is necessary to build the project for share with other people

[2018-06-21 13:45] nicholasess opened #31 "Add Pre-commit"
Add pre-commit to define a default project.
When users include a commit, the pre-commit will set code to default.

https://prettier.io/docs/en/precommit.html#option-2-pretty-quick-https-githubcom-azz-pretty-quick

[2018-06-21 13:48] nicholasess opened #32 "Add template issue"
Can follow the example from `docz`

https://github.com/pedronauck/docz/tree/master/.github

[2018-06-22 18:39] ggdaltoso commented on #30
It is a known issue and it is in our backlog

#18

[2018-06-22 18:39] #30 closed

[2018-06-24 00:44] ggdaltoso opened #33 "Update storybook UI"

[2018-06-24 20:47] ggdaltoso opened #34 "List with nested List"

[2018-06-24 20:47] #34 closed

[2018-06-26 00:56] ggdaltoso commented on #28
Done*

* in modal (only)

[2018-06-26 00:56] #28 closed

[2018-06-26 19:00] ggdaltoso opened #35 "Remove `opened` prop from Modal"

[2018-06-28 01:06] #35 closed

[2018-06-28 14:39] ggdaltoso opened #36 "Clippy"
https://github.com/pi0/clippyjs

[2018-07-01 00:01] #36 closed

[2018-07-01 12:52] ggdaltoso commented on #33
https://github.com/storybooks/storybook/issues/25#issuecomment-344414517

[2018-07-01 21:04] #24 closed

[2018-07-02 18:58] #12 closed

[2018-07-02 18:58] #14 closed

[2018-07-02 18:59] #25 closed

[2018-07-02 22:08] ggdaltoso opened #40 "Add code to clipboard in Edit > Copy"

[2018-07-03 12:07] ggdaltoso opened #41 "Add License"

[2018-07-03 12:14] #41 closed

[2018-07-03 12:59] ggdaltoso opened #43 "Code of conduct"

[2018-07-03 13:04] #43 closed

[2018-07-05 00:47] #40 closed

[2019-01-04 12:15] #13 closed

[2019-01-04 12:32] allyssonsantos opened #47 "Cursor need to be "text" inside clippy modal"
The model that clippy shows when click on "Show me!" button have a textarea inside it, but when we hover it the cursor stays with default appearance. It needs to be "text" instead of "default"

[2019-01-04 12:53] ggdaltoso opened #48 "Update storybook"

[2019-01-04 13:00] #47 closed

[2019-01-04 13:59] #6 closed

[2019-01-04 17:54] #29 closed

[2019-01-07 12:29] allyssonsantos opened #54 "Wrong UI Font"
The font must be "MS Sans Serif"

[2019-01-07 12:31] #48 closed

[2019-01-11 12:16] allyssonsantos opened #55 "Semantic version"
Semantic version is a good way to manage the project versions.
What do you think to adopt that approach?

https://semver.org/

[2019-01-11 12:20] allyssonsantos opened #56 "Semantic version"
Semantic version is a good way to manage the project versions.
What do you think to adopt that approach?

https://semver.org/

[2019-01-31 17:19] ggdaltoso commented on #54
What do you think in making a <GlobalStyle /> with all the contents?

[2019-02-01 17:58] allyssonsantos opened #57 "Create build process and publish"
We need to make a build process to generate dist files.
Can be one of the main bundler tools like Webpack, Rollup or just transpiling with Babel.

What approach do you think we can take?

After that we need to publish React95 to NPM.

[2019-02-01 19:20] allyssonsantos opened #58 "Configure ESLint"
What do you think to adopt ESLint on the project?
If you like this suggestion, we need a preset, I suggest the [Airbnb preset](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb).

[2019-02-01 19:22] allyssonsantos opened #59 "Radio Button"
We need Radio Button component.

[2019-02-01 19:30] #54 closed, assigned to allyssonsantos

[2019-02-07 10:46] #15 closed

[2019-02-07 11:06] ggdaltoso opened #63 "Alert"
![image](https://user-images.githubusercontent.com/6536985/52407505-a65ceb80-2ab7-11e9-9552-53a09f2c8196.png)

![image](https://user-images.githubusercontent.com/6536985/52407513-ac52cc80-2ab7-11e9-9b92-84446e972367.png)

[2019-02-12 23:39] #59 closed

[2019-02-18 16:41] #63 closed

[2019-02-20 11:43] allyssonsantos opened #67 "Change to hooks"
What do you think to refactor our components using [Hooks](https://reactjs.org/docs/hooks-overview.html)?

[2019-02-20 23:57] ggdaltoso commented on #57
I will work on this!

I spend a lot of time studying Webpack, Rollup and babel and I think I reach an conclusion.

Could you keep tracking this issue in that [branch](https://github.com/React95/React95/tree/%2357-build)?

And, of course, we will still discuss about it

[2019-02-21 11:14] allyssonsantos opened #68 "Tree view component"
We need to implement Tree view component:

![image](https://user-images.githubusercontent.com/13424727/53165081-8e559380-35b0-11e9-8e22-8e63b21fa53f.png)

[2019-02-26 12:33] #67 closed

[2019-02-26 23:06] allyssonsantos opened #70 "Unit tests"
We need tests for our components!

[2019-02-27 13:31] andreloureiro commented on #68
Hey @allyssonsantos! I assume @ggdaltoso talked to you about me picking up this task, I'm up for working on this component if you don't mind :)

[2019-02-28 11:05] allyssonsantos commented on #68
Hi @andreloureiro, don't worry, you can take this one. :smiley:

[2019-03-07 20:21] #8 closed

[2019-03-07 20:21] #56 closed

[2019-03-07 20:21] #57 closed

[2019-03-08 15:56] ggdaltoso commented on #8
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #56
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #57
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #59
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #54
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #48
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:56] ggdaltoso commented on #29
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:57] ggdaltoso commented on #6
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:57] ggdaltoso commented on #47
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:57] ggdaltoso commented on #40
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-08 15:57] ggdaltoso commented on #24
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-10 11:43] gennymcdonagh commented on #58
I'm happy to make a start on this

[2019-03-11 12:52] #58 closed

[2019-03-12 16:26] ggdaltoso commented on #21
We need to update it again. It is not showing at NPM

[2019-03-12 16:43] #21 closed

[2019-03-17 18:49] #70 closed

[2019-03-18 20:41] ggdaltoso commented on #70
:tada: This issue has been resolved in version 1.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-18 20:41] ggdaltoso commented on #21
:tada: This issue has been resolved in version 1.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-20 23:38] allyssonsantos opened #81 "Assets folder isn't builded"
It throws an error when use some component that render an Icon.

To fix  that,  the assets folder need to be present inside dist folder after build process end.

[2019-03-28 16:15] davesnx opened #84 "I would love to create the FileSystem loading state"
I would love to have the paper animation as an Icon in React95, as well the folder with the paper "inside".

Then I would be able to create the famous animation: https://www.youtube.com/watch?v=lQkJhCfk_Oo

What do you think?

[2019-03-28 20:43] Zachari commented on #81
Wouldn't this issue be more suited to a solution using Webpack and loaders (style-loader, css-loader, url-loader, file-loader, etc)? There are ways to accomplish this via Babel plugins, but they're all build on Webpack anyway. Babel is a transpiler first and foremost, not a bundler. All these plugins are doing is transforming the imports at build time.

Using Webpack alongside Babel, you could do

[2019-03-28 20:59] Avi98 commented on #84
if it's okay I would love to work on this issue. Would be fun to build a loading icon like this.

[2019-03-28 22:19] allyssonsantos commented on #84
Hi @davesnx and @Avi98 :smiley:

I would love this too, so for me is absolutely ok!
I think you can use `Alert` or `Modal` component to help building this animation.

Thank you guys.

[2019-03-28 23:55] allyssonsantos commented on #81
Hi @Zachari

Me and @ggdaltoso have searched a lot about this when we were thinking about bundling this library.

After all the content that we found about this, we decided that we do not need Webpack, Rollup, Parcel or any bundler tool. We reached the idea that Webpack is more for application than for libraries.

And about using any kind of css loader, how we are not using css files, we do not ne

[2019-03-29 02:24] Zachari commented on #81
That's understandable. I suggested Webpack because it's the one I have the most experience with when it comes to static assets. Admittedly, Webpack doesn't seem to be the best fit for a library. However, I do disagree that bundlers in general are a good fit towards applications only. Rollup, in particular, appears to be perfect for libraries, especially in situations such as this. However, I can't

[2019-03-30 13:09] #81 closed

[2019-03-30 13:11] ggdaltoso commented on #81
:tada: This issue has been resolved in version 1.0.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.0.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-01 14:20] Avi98 commented on #84
@davesnx I will be needing some help in order to create this component. I was thinking of creating a modal with two folder icons, one with paper in the folder icon and the other one will be an empty folder icon.
My concern over here is how will I rotate paper from the left bottom while moving from one folder icon to another.

[2019-04-02 08:44] davesnx commented on #84
I would use a gif for the animation of the paper, or a simple "sprite" and match the velocity of the gif(or sprite) with the curve of the animation.

[2019-04-02 12:18] padraigfl commented on #33
Hey man, I sent you an email about this but I'll comment here too I _sorta_ got storybook styled to match the UI but it was crazy hacky
https://github.com/padraigfl/packard-belle

Storybook 5 improves theming but doesn't seem to offer much customisation either from the little I've looked into it

[2019-04-02 23:33] ggdaltoso commented on #33
Hi, @padraigfl !

Talking with @allyssonsantos, it comes to us that is no way to get storybook styled without ~~tons of~~ some hacks, as you mentioned.

We waited for the version 4 for this "fix", I guess, and it did not come even in the 5, btw.

About your project, what an awesome repo do you have! There are a lot of components we don't have in React95. It seems easy for you to contribute if you

[2019-04-02 23:43] ggdaltoso commented on #33
We don't add an theme issue yet but, we discuss it a lot.

![image](https://user-images.githubusercontent.com/6536985/55442907-e657c080-5586-11e9-9948-739047d002a5.png)

I do not remember how many themes Windows95 had but, Windows98 could be one in React95, why not?
What do you think @allyssonsantos ?

[2019-04-03 12:13] allyssonsantos commented on #33
Hi @padraigfl!

What a great project, you nailed it!

In the future we can create some kind of themification to achieve all Windows95 themes:
![image](https://user-images.githubusercontent.com/13424727/55477312-23f03400-55ef-11e9-91c0-27e822267af7.png)

We can also include the Windows98 UI, but we'll need more modification than just change colors (Like the Windows95 themes), and is there that the

[2019-04-03 13:27] ggdaltoso commented on #23
Duplicate #33

[2019-04-03 13:27] #23 closed

[2019-04-03 17:10] padraigfl commented on #33
atm I'm just focusing on seeing if I can actually make something useful outta my thing but I'm probably making some new fonts soon (e.g. the notepad font is kinda important for my current project) and I'll add them here in PRs.

Quite a lot of it is hacky hacky and I was learning things as I done them, it's basically chrome on desktop only atm. That being said, I'm sure there's some stuff there th

[2019-04-03 17:11] padraigfl commented on #33
Speaking of Gatsby, tbh I'd just do a component library in Gatsby if the aesthetics are important. Storybook is a kind of high functional thing that only really is of value if you go to town on the knobs and addons

[2019-04-08 21:59] allyssonsantos opened #94 "Global style component"
We need a component that set default styles.
For example, default font specifications.

[2019-04-09 16:46] ggdaltoso commented on #94
I will assume this!

[2019-04-09 16:47] allyssonsantos commented on #68
Hi @andreloureiro, how are you?

Do you have any updates with the development of this component?

[2019-04-09 23:24] allyssonsantos opened #95 "How to handle with assets files in the build process"
We already discussed this topic, but, I think that we need to discuss it again :rofl:

How can we handle the assets files (.ico, .png, .ttf, etc) in the build process?

What is the best approach to delivery this files?

- Should we include this on the bundle? With webpack/rollup/etc?
- Should we keep the way it is? the generated code will import the static files "as it is", and the application tha

[2019-04-11 12:45] padraigfl commented on #95
RE: TTF, is there any reason for including it? When even IE9 supports WOFF you're probably in the clear!

Imo it's down to whether you want the library to be one that people use (i.e. easily started) or if it's more about learning how to build a library efficiently. As it's likely to be used only for recreational purposes, the bundle size seems far less important than ease of use to me.

[2019-04-13 22:30] andreloureiro commented on #68
Hey @allyssonsantos sorry for the delay, lots of real-life stuff going on and I was rushing with some other stuff during the last month. Anyway, there it goes https://github.com/React95/React95/pull/97

[2019-04-15 12:46] ghostslayer989 opened #98 ""Question" Alert box."
Self-explanatory.

[2019-04-20 14:43] #68 closed

[2019-04-20 14:45] ggdaltoso commented on #68
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-20 16:08] beizhedenglong opened #100 "add defaultValue and value props support for some form like components"
add `defaultValue` and `value` props support for some `form like ` components so that we can control the components switch between controlled and uncontrolled. it was used by some popular UI library like [`Material UI`](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/internal/SwitchBase.js#L57) and `antd`.  I have written a tiny module ([rc-value](https://github.com/beizh

[2019-04-22 10:59] ggdaltoso opened #101 "Theming"
![image](https://user-images.githubusercontent.com/6536985/56497572-7b8a0d00-64d4-11e9-993f-eded68dfa2d4.png)

[2019-04-29 18:48] wanderrful opened #105 "Use `min-content` as default dimensions for Modals"
I noticed that you guys are using fixed pixel sizes for everything, but I think if you change the default to just be `min-content` for height and width you'll be able to prevent things from overflowing Modal components.

I tried adding it in but I'm not familiar enough with the source code here to try and test it out on my own machine before submitting a PR.

[2019-05-22 13:23] #94 closed

[2019-06-11 10:24] bhaidar opened #108 "Error in running Storybook"
Hi,
I am trying to run this app locally by issuing the command `npm run storybook`. I get so many errors as shown below:

[code]

[2019-06-11 10:57] allyssonsantos commented on #108
Hi @bhaidar,

Could you please provide an step-by-step to reproduce this behavior?

I just cloned, installed dependencies and run `npm run storybook`.

The startup just run correctly for me.

[2019-06-11 10:58] bhaidar commented on #108
Hi @allyssonsantos
I've followed the same steps. I've cloned the repo, ran `npm install` and then `npm run storybook`.

Meanwhile, I will start all over again and see how it goes.

Thanks

[2019-06-11 11:04] bhaidar commented on #108
@allyssonsantos

It runs well this time!

After running `npm install` I see the following:

[code]

[2019-06-11 11:08] bhaidar commented on #108
Btw, I am writing an article on React/Storybook/Applitools (visual UI testing). I will make use of this library to demonstrate how to integrate Applitools with React and Storybook.

I really like the idea behind this repo :-)

[2019-06-11 11:18] ggdaltoso commented on #108
Glad to know!

Send us the article link when it is ready!

I will close this issue and, about the vulnerabilities, I will add in our roadmap and we'll appreciate if you could open a pull request solving this.

Thanks @bhaidar

[2019-06-11 11:18] #108 closed

[2019-06-11 11:42] bhaidar commented on #108
@ggdaltoso I will :-)

[2019-06-26 17:22] anton-g opened #109 "Enabling style overrides via styled-components"
Hi!

Right now it's impossible to apply custom styling to components with styled-components since the components don't pass down the `className`-prop.
For example, for the Button-component the fix would be that this:
[code]
becomes this:
[code]

I'd be happy to submit a PR, but wanted to run it by you first.

[2019-06-28 13:21] ggdaltoso commented on #109
Hi @anton-g!

Would be better if it was like this?
[code]

[2019-06-29 19:34] anton-g commented on #109
Yep, that sounds like a better way to do it! I'll create a PR if I get some time over!

[2019-07-01 10:55] #109 closed

[2019-07-01 10:57] ggdaltoso commented on #109
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-04 08:42] mikegsrv opened #111 "Disabled-checked radio-button looks like disabled-unchecked"
Hello!

I was surfing through the https://react95.github.io/React95 and it seems to be issue with disabled-checked radio button: it looks the same as disabled-unchecked.

**Steps to reproduce:**
Prerequisites: macOS High Sierra 10.13.5 + Google Chrome Canary 77.0.3842.0
Go to: https://react95.github.io/React95 > RadioButton

**Actual Result**
![Screen Shot 2019-07-04 at 11 26 47](https://user-imag

[2019-07-11 11:48] ggdaltoso commented on #111
Wow! What a detailed issue!

Thanks for that @mikegsrv!

Well, it seems you have found where this could be fixed.
You sure you don't open a PR for it? I could do it but it would be nice if you collaborate with this project.

[2019-07-11 17:56] allyssonsantos commented on #33
It's time to leave storybook.

Let's build an windows explorer UI to show our components, what do you think @ggdaltoso?

[2019-07-11 18:02] ggdaltoso commented on #33
We should have done this form the beginning!

[2019-07-13 13:43] allyssonsantos commented on #98
Hi @ghostslayer989.

I think we need the correct Icon to build this alert box, do you know where we can find it?

Thanks!

[2019-07-13 17:42] allyssonsantos commented on #98
I've opened a PR to add this question box. See #114

[2019-07-13 17:42] #98 closed

[2019-07-15 17:25] ggdaltoso commented on #98
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react95/core)
- [GitHub release](https://github.com/React95/React95/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 12:54] mikegsrv commented on #111
Sorry for the delay in aswer.
Sure, will do in a day or two! Need some time to investigate how it's working and what exactly led to an error as at first sight everything seems normal.

[2019-07-23 09:35] #111 closed

[2019-08-13 12:57] ggdaltoso opened #116 "Monorepo"
Should we go to a monorepo architecture?

Currently, React95 has just the `core` as the main package. We could split into something like:
 - `@react95/core`;
 - `@react95/icons`;

for example.

I'm willing to use [`yarn workspaces`](https://yarnpkg.com/lang/en/docs/workspaces/) but I should look [`lerna`](https://github.com/lerna/lerna) too.

[2019-08-13 18:43] ggdaltoso commented on #116
As a `semantic-release` repository, it would be nice to answer, or think about, some [doubts](https://github.com/semantic-release/semantic-release/issues/193#issuecomment-354674663)

[2019-08-15 16:45] ggdaltoso commented on #116
I would like to discuss versioning here.

Well, let's assume we will have this structure using `Lerna` and `yarn workspaces`:

[code]

When *both* packages will have changes and must be built and published, it is known what should be done:

[code]

But, what should be done about the repo?

Actually, we bump a release, add a `git tag` and update the changelog because we have only one package. In a

[2019-08-30 14:15] ggdaltoso commented on #116
@andreloureiro @allyssonsantos
take a look into [GH-116-Monorepo](https://github.com/React95/React95/tree/GH-116-Monorepo) if you could

[2019-09-03 12:36] allyssonsantos opened #122 "Rounded corner in Dropdown on MacOSX"
![image](https://user-images.githubusercontent.com/13424727/64173685-3684c880-ce2e-11e9-9417-9aacb7bb7b58.png)

[2019-09-03 13:21] #122 closed

[2019-09-15 13:45] ggdaltoso opened #124 "Icons as a separated package"
@react95/icons

[2019-09-15 19:47] #124 closed

[2019-09-15 20:47] ggdaltoso commented on #116
I think it is ok for now.

We have icons and core packages. Everything working fine.

I'll close this issue and, if we have any problem with it, it could be re-opened.
🚀

[2019-09-15 20:47] #116 closed

[2019-10-03 02:19] ezrayoung opened #126 "Typescript Definition"
Has there been any consideration for adding a Typescript definition file, or even migrating the project to Typescript to generate them automatically?

I plan to use this package in an upcoming Reason project, so I'd rather not reimplement the type definitions by writing bindings, if there is already progress being made in this area.

If Typescript is something that you consider worth having on the

[2019-10-05 17:34] ggdaltoso commented on #126
🤔

Hi @ezrayoung ! Thanks for bringing this subject!

Well, at the beginning of the development of React95 we discuss using TS to build this library but, it came to us that it wouldn't add too much in the code, because most components are just styled-components itself.

Honestly, I had no idea that someone would use React95 in a TS project and we never thought to add the support for it. And, here

[2019-10-09 02:24] samirsd opened #127 "what happened to the documentation?"
there used to be avatars in the storybook with helpful code snippet now i don't see them and i don't see any sign of documentation

[2019-10-09 11:56] ggdaltoso commented on #127
Are you talking about clippy?

[2019-10-09 16:04] samirsd commented on #127
Yes

On Wednesday, October 9, 2019, Gabriel Daltoso <notifications@github.com>
wrote:

[2019-10-09 16:17] ggdaltoso commented on #127
After updating the storybook to v5, we have some struggles with our custom decorator used to perform the Clippy animation and interaction.

We have [plans to build a better doc experience](https://github.com/React95/React95/issues/33), maybe using Gatsby, and to make Clippy live again.

Want to contribute with it?

[2019-10-09 18:37] samirsd commented on #127
I think the documentation quality was more than adequate before so I would just try to roll it back to when clippy worked.

[2019-10-14 11:45] ezrayoung commented on #126
@ggdaltoso I ended up writing the Bucklescript bindings that I needed for my project, but I'll still be glad to work on what's needed to implement Typescript here!

I don't have much experience with monorepos, so I did some quick searching and came across this example: https://github.com/DylanVann/typescript-monorepo-example. Is this similar to what you are suggesting?

[2019-10-14 18:42] ggdaltoso commented on #127
We are working on something better than Storybook. You can see the progress at [explorer](https://github.com/React95/React95/tree/explorer) branch.

I'll close this issue but if you are interested, please, contribute! It would be nice!

[2019-10-14 18:42] #127 closed

[2019-10-14 18:47] ggdaltoso commented on #126
Yes!

In this example, all packages are written in TS, which I would like to see here in 95.

Could you start? =D

[2019-10-25 03:15] ezrayoung commented on #126
I went ahead and started work on this tonight. I'll try not to spend too much time coming up with compiler options and linting rules, but I'll be glad to get some input on them.

[2019-12-28 01:40] DanielRosenwasser opened #129 "Checkboxes don't pass styles through"
If I try to render a checkbox in the following way:

[code]

relative positioning isn't respected. In contrast, using `Button`, styles are preserved.

[code]

[2019-12-28 02:03] DanielRosenwasser commented on #126
I have something mostly fleshed out - I'd highly recommend not to maintain `.d.ts` files on this repo unless you're all very well-experienced with TypeScript. Unless that's the case, I'll probably send a pull request to DefinitelyTyped when I get the chance, and some eyes on that would be extremely appreciated.

[2019-12-28 14:21] ggdaltoso commented on #129
Hi, @DanielRosenwasser

Thank you for opening this issue!

It seems to have a simple solution. Diving through the [Checkbox code](https://github.com/React95/React95/blob/master/packages/core/components/Checkbox/Checkbox.jsx#L98) I found the problem:

[code]

Would you like to open a PR solving this? I would appreciate it if you could!

Thanks!

[2019-12-29 21:58] DanielRosenwasser commented on #129
Thanks for the tip! I just sent a PR at #130.

[2020-01-02 11:31] #129 closed

[2020-01-28 22:52] hammadj commented on #126
@DanielRosenwasser Any updates on the definitions? Would love to help get it through.

[2020-03-03 05:18] GongT commented on #126
You should put `compilerOptions` in a `tsconfig` at the root.

And then use `extends` + `rootDir`&`outDir` in a `tsconfig` at every sub project.

[2020-03-14 23:15] ggdaltoso opened #132 "GlobalStyle forces all font-sizes to be 12"
[🤦‍♂](https://github.com/React95/React95/blob/master/packages/core/components/GlobalStyle/GlobalStyle.jsx#L64)

[2020-03-19 17:49] #101 closed

[2020-03-20 19:05] ggdaltoso commented on #132
closed by #134

[2020-03-20 19:05] #132 closed

[2020-03-21 15:16] #105 closed

[2020-03-23 22:02] ggdaltoso opened #137 "TaskBar Component"
![image](https://user-images.githubusercontent.com/6536985/77367301-a4e09800-6d38-11ea-9ba1-f6ed19058227.png)

Like [the one in 95Recipes](https://github.com/ggdaltoso/95Recipes), but working 😂

[2020-03-31 11:43] #137 closed

[2020-04-02 11:48] ggdaltoso opened #140 "TaskBar list is behind Modal"
![image](https://user-images.githubusercontent.com/6536985/78245868-932c8c80-74be-11ea-90a0-d4f138e3bded.png)

🤦‍♂

[2020-04-06 16:32] #140 closed

[2020-04-20 11:21] ggdaltoso opened #142 "Video"
![image](https://user-images.githubusercontent.com/6536985/79746118-d6209980-82df-11ea-871a-778db9d5d69a.png)

Seems to be easy 🤔

[2020-04-20 11:29] ggdaltoso opened #143 "Clippy as a different package"
As we use Clippy in our storybook and wish to use it in our new Gatsby documentation, we could export Clippy to be used as a standalone package.

We could create a custom hook, as @SaraVieira did in [yours](https://github.com/SaraVieira/useClippy), or we could make just a component, as well.

Also, it would be nice to put it in `@react95/clippy` or `@react95/useClippy`

What do you think?

[2020-05-21 19:52] #142 closed

[2020-06-03 00:10] kaiofelipejs opened #148 "Create showcase area in README.md"
This idea came from @ggdaltoso [on Twitter](https://twitter.com/ggdaltoso/status/1267951868828942337).

The purpose is show to other developers cases of apps and websites that use the React95 library.

[2020-06-03 11:23] ggdaltoso commented on #148
This is awesome!

I think it would fit nicely between "Development" and "Contributors" sections, named "Awesome projects", as a simple URL list.

What do you think?

[2020-06-03 17:01] AGreenObject commented on #148
I think this is really needed! I've often found myself scouring the web for examples of how React95 is used

[2020-06-03 18:20] kaiofelipejs commented on #148
I like this idea @ggdaltoso, standardized, and simple.

[2020-06-04 12:38] allyssonsantos commented on #148
@ggdaltoso I think this is a great idea too.
Maybe we can put a folder with all the projects in the explorer that we are building too. 😆

[2020-06-04 12:42] ggdaltoso commented on #148
@allyssonsantos
And if we add an iframe with 95 IE view in the explorer?

I could imagine...

![image](https://user-images.githubusercontent.com/6536985/83757970-ab985f00-a647-11ea-9f3c-4bee1d5d9eb7.png)

[2020-06-04 12:46] allyssonsantos commented on #148
@ggdaltoso Hahahahaha, An Internet Explorer window with the project loading at the iframe ❤️ great idea!

[2020-06-04 13:08] #143 closed

[2020-06-04 17:40] #148 closed

[2020-06-04 17:43] ggdaltoso commented on #148
@kaiofelipejs
Just you to know, I've add the "Awesome Projects" section in the root README.md file (see #149). As soon as you like, you could open a PR adding yours.

[2020-06-04 17:51] kaiofelipejs commented on #148
@ggdaltoso
Awesome! Thanks for your agility. Soon I will put my project there.

[2020-06-05 11:40] ggdaltoso commented on #148
@InsafKhamzin @LRNZ09
Pinging you guys to let you know about this. Feel free to open a PR with your awesome projects too.

🚀

[2020-06-05 13:51] LRNZ09 commented on #148
Sure thing! I'll do it soon @ggdaltoso

[2020-06-05 15:57] #95 closed

[2020-06-05 16:02] ggdaltoso commented on #95
Closing this issue for now, since we consider [notifying](https://github.com/React95/React95/tree/master/packages/icons#important) who is using this library to use the loader if it is needed.

[2020-06-05 16:08] ggdaltoso opened #152 "Alert sound"
If I remember it well when some Alert displays in the screen and if it was like an error, generally it comes with a sound, like [this one](https://www.youtube.com/watch?v=TArmnLEtaUs)

Should we add a prop to this component to make this available?

[2020-06-05 16:17] ggdaltoso opened #153 "Alert icons"
Nowadays the icons displayed inside Alert come from [internal files](https://github.com/React95/React95/blob/master/packages/core/components/Alert/alertImages.js) when it could be imported from @react95/icons package.

Those icons are:
 - error: [user_4](https://github.com/React95/React95/blob/master/packages/icons/src/icons/user_4.ico);
 - info: [user_5](https://github.com/React95/React95/blob/ma

[2020-06-05 16:28] ggdaltoso opened #154 "New Modals"
Since we have different types of windows opening inside the w95, we could add then into @React95/core as Compounds of Modal Component.

What it comes into my mind is:

### Modal.IE (good to show iframes like mentioned in #148)
![image](https://user-images.githubusercontent.com/6536985/83899937-a3b3ea00-a72f-11ea-9788-760b82e58ff5.png)

### Modal.WordPad
![image](https://user-images.githubuserconte

[2020-06-05 16:40] ggdaltoso opened #155 "Alert is appearing in TaskBar"
![image](https://user-images.githubusercontent.com/6536985/83901166-b2e76780-a730-11ea-9f80-31684c4fe0cb.png)

As we can saw in this image, the Alert component is appearing in TaskBar when it shouldn't.

Also, the close Button seems to be not clickable, in the real Alert.
![image](https://user-images.githubusercontent.com/6536985/83901406-1a051c00-a731-11ea-8d30-fad541c57b90.png)

We could handle

[2020-06-06 16:33] InsafKhamzin commented on #148
Done! @ggdaltoso

[2020-06-08 15:49] andreloureiro commented on #154
What's your idea regarding the components that will be present on the Modal.IE for example? Is it just about rendering the title bar, menus and toolbar, or is it about rendering IE as a complete application (just like in the screenshot you added)?

[2020-06-08 16:13] ggdaltoso commented on #154
The simplest as possible. It shouldn't be a real IE (I don't know if we could implement all ~glitches and bugs~ features).

It would render like the screenshot like you said: with the title bar, menus, and toolbar with no real click triggers.

The same is for Modal.WordPad.
![image](https://user-images.githubusercontent.com/6536985/84054029-271c4800-a989-11ea-90fb-6e6688ae1569.png)
Implementing th

[2020-06-11 22:02] ggdaltoso commented on #154
The IE screenshot in the first coment, is the IE 2.0

At w95, we have the 3.0:

![image](https://user-images.githubusercontent.com/6536985/84443253-9a39ee80-ac15-11ea-97e5-0cd06083a015.png)

![image](https://user-images.githubusercontent.com/6536985/84443436-fa309500-ac15-11ea-80b4-24ea93e13f9b.png)

[2020-06-20 15:08] ggdaltoso opened #158 "Wrong font"
As we can easily see in [95Recipes](https://ggdaltoso.dev/95Recipes/) the font family provided from React95 is not the right one, since it does not support Latin characters:

![image](https://user-images.githubusercontent.com/6536985/85204071-494a8a00-b2e8-11ea-9cb9-6e46d64a32e7.png)

To find this [font file](https://github.com/React95/React95/blob/master/packages/core/components/shared/assets/fon

[2020-06-20 16:28] alan-oliv commented on #158
@ggdaltoso I'd like to help you guys in this one

Do you intend to maintain different `font-family` for each `font-size` like windows95 does, or there's is a specific one that you'd use for all sizes?

[2020-06-21 14:10] ggdaltoso commented on #158
Initially, I was thinking in replace the [current font](https://github.com/React95/React95/blob/master/packages/core/components/shared/assets/font/MS-Sans-Serif.ttf) with the one mentioned above.

Then, we could discuss the idea originally from @andreloureiro of making a Text component whit a property named `size`, for example, giving us something to handle and be able to change the font of this c

[2020-06-21 20:25] alan-oliv commented on #158
Actually, I'd like to go further here.

Extracting each size of the `bitmap font` to a respective `true type` will lead us to have multiple font files, and thus the only solution is to handle the 5 fonts (17px, 20px, 23px, 30px and, 40px) in the code (Text component)

Instead of doing this, I'd like to propose a creation of our own open-source font (React95.ttf) and treat the size difference behav

[2020-06-23 11:18] ggdaltoso commented on #158
It would be awesome!

But, I don't know how to do that. Do you know?

[2020-06-29 13:50] allyssonsantos opened #159 "Add more contributors to readme section"
Hi!

What do you think to include everyone that had at least one commit to the project in the contributor's section of the readme?

We can add those wonderful developers:

- @InsafKhamzin (doc)
- @LRNZ09 (doc)
- @kaiofelipejs (doc)
- @ddsilva (test)
- @DanielRosenwasser (doc, code, test)
- @mikegsrv (code, test)
- @anton-g (code)
- @accuvit (code)
- @thomazcapra (code, test)
- @beizhedenglong (cod

[2020-06-30 11:39] ggdaltoso commented on #159
Of course!

[2020-06-30 13:38] ggdaltoso commented on #159
Done!

[2020-06-30 13:38] #159 closed

[2020-08-17 14:43] theoomoregbee opened #175 "Unable to view icon storybook"
![Screen Shot 2020-08-17 at 10 43 09 AM](https://user-images.githubusercontent.com/10440327/90408867-73b18d00-e076-11ea-96f7-c4e3ba35e58b.png)

[2020-08-18 11:00] ggdaltoso commented on #175
Hi @theoomoregbee!

Thanks for opening this issue!

I'm working on add TS support, in #174, and I will probably solve the icons problem in this opened PR.

But, if you want to contribute with this issue for now, since I may take some time on TS stuff, I could help you with it.

What do you think?

[2020-08-18 12:31] theoomoregbee commented on #175
Cool! I can send in a PR for it later today

[2020-08-18 12:56] ggdaltoso commented on #126
Guys!

Just to let you know, I'm working on this in #174! 🎉

I would love to have some feedback on it since I'm not a TS expert.

I'm working on `@react95/core` first and `@react95/icons` after.

What you guys think would be better for `@react95/icons` for handling with `.ico` typings?

[2020-08-18 22:17] theoomoregbee commented on #175
@ggdaltoso here's a quick PR fix for it https://github.com/React95/React95/pull/176

[2020-08-19 11:15] #175 closed

[2020-09-01 12:07] ggdaltoso commented on #126
@DanielRosenwasser @hammadj @hammadj @GongT

Hey guys!

I'm not a TS specialist and I would love it if I could have some feedback on my current work on #174

I'm refactoring all components first and then the tests. There is a detailed description in the PR showing whether a component is already rewritten as TS or not.

[2020-10-03 00:29] #126 closed

[2020-10-03 17:41] kaiofelipejs opened #182 "Story for Frame component"
The Frame component is very util to create compound components. Unfortunately doesn't exist a story of this component where we can see applied and your props.

[2020-10-03 17:58] kaiofelipejs commented on #182
The story is created.

[2020-10-03 17:58] #182 closed

[2020-10-05 11:50] #153 closed

[2020-10-26 19:53] kaiofelipejs opened #189 "react95/core package import all icons and weight up the bundle size"
Hi everyone!

I analyzed the [lighthouse report](https://web.dev/) from [my site](https://kaiofelipejs.dev/) and the performance score is below 60 points. He is created with Gatsby (using React5, obviously) and performance is the focus in this framework. I found it strange.

Looking at the principal recommendation by the lighthouse "Remove unused Javascript" I see that one of the files unused is t

[2020-12-17 19:28] macrozone opened #194 "reference windows by id, not by title"
currently windows are identified by title, but that causes problems if multiple windows have the same title or if you change the title of a window. in that case, you might lose the focus.

it would be better if developers could pass an id for each modal. It could still fallback to title for backwards compatibility

[2020-12-28 13:35] ggdaltoso commented on #194
The reason we build Windows identified by its title is to prevent what you said:

We did this in this way because in w95 we can't have multiple windows with the same name.
This is also the reason we do not export the [ModalContext](https://github.com/React95/React95/blob/master/packages/core/components/Modal/ModalProvider.tsx), which is used in our [ThemeProvider](https://github.com/React95/React9

[2020-12-28 18:59] macrozone commented on #194
@ggdaltoso i noticed the problem, because i implemented a "browser" (using an iframe) and wanted to show the current url as title, like some browsers do. Changing the title messes with the focus state.

i would not force this restriction, just because win95 had it. After all, we are here for win95's look, not its bugs and flaws, aren't we?

[2020-12-28 19:12] ggdaltoso commented on #194
It would be nice to have your browser instead! Maybe #154 related?

And this:

could be an issue, in this case. I've also faced this behavior before too.
I think it is something missing in [activeWindow](https://github.com/React95/React95/blob/master/packages/core/components/Modal/ModalProvider.tsx#L11).

Would you like to implement the `Modal.IE`?

[2021-01-07 18:23] ggdaltoso commented on #189
Hi, @kaiofelipejs !

First of all, I want to say sorry for the delay in this issue.

I've rewritten the `@react95/icons` package as a simple CSS file, meaning also that we can use it despite React though.

Could you, please, redo your analysis with the last version (v2.13.3) of the @react95/core?

I've got great results when I tested into my [95Recipes](https://github.com/ggdaltoso/95Recipes) and

[2021-01-07 19:49] ggdaltoso opened #203 "Weird behavior in TaskBar Buttons"
When multiples Modals are open and the text should be truncated, we have this:

https://user-images.githubusercontent.com/6536985/103937978-56a25700-5108-11eb-91c0-0b1e671fe84d.mp4

[2021-01-07 20:04] #203 closed

[2021-01-07 20:09] kaiofelipejs commented on #189
Hi, @ggdaltoso!

I updated the package and fix the names of the icons (because the broken contract, this update should be major, right? maybe 3.0).

I test [my site](htttps://kaiofelipejs.dev) but the results are the same :|
I test 95Recipes to and have this warning:
![image](https://user-images.githubusercontent.com/41922744/103939681-eb0db900-510a-11eb-8eff-48c4f6537e8e.png)
File mentioned: http

[2021-01-08 04:28] mctang719 opened #205 "NextJS - Global CSS cannot be imported from within node_modules"
error - ./node_modules/@react95/icons/icons.css
Global CSS cannot be imported from within node_modules.
Read more: https://err.sh/next.js/css-npm
Location: node_modules/@react95/core/ThemeProvider/ThemeProvider.js

[2021-01-10 19:32] TomAndril commented on #205
I'm having the same problem, been trying to fix it, unfortunately without luck. Maybe someone who already stepped over this same issue can lend us a hand :)

[2021-01-11 22:15] tcK1 commented on #205
Not sure if this can help, but have you guys looked into https://github.com/martpie/next-transpile-modules? 🤔

[2021-01-12 13:40] TomAndril commented on #205
Yes, I've tried it without luck, it still complain about the css module imported from node_modules

[2021-01-12 16:56] ggdaltoso commented on #205
I think I know how to fix this.

1. Need to remove [the line importing the CSS file in ThemeProvider](https://github.com/React95/React95/blob/master/packages/core/components/ThemeProvider/ThemeProvider.tsx#L7).
2. Clean up the [assets](https://github.com/React95/React95/tree/a014647fe387420d1dd5b56da5eee8ee6ece7576/packages/core/components/shared/assets) folder. There are a lot of garbage and some

[2021-01-13 18:46] TomAndril commented on #205
I absolutely would like to collaborate, It turns out I'm kinda new when it comes to this. I've been trying to implement your solution but without any luck. I'm not sure which files should I delete into the assets folder, also I'm deleting the CSS file import in the ThemeProvider file but it stills complaining about this import. I'm afraid that I'm not confident enough to fix it, but maybe with som

[2021-01-13 19:37] ggdaltoso commented on #205
Great @TomAndril !

I already did some cleaning on the [`fix/build`](https://github.com/React95/React95/tree/fix/build) branch.

I've also removed [the line from ThemeProvider](https://github.com/React95/React95/commit/768badb4b740ec96c5fc9675287a333a54e668d9#diff-e84355811809fc1b7a9d7c3073f57a55892a75e5892accc89d101231c347c306L7), importing the CSS icons file.

The storybook seems to be working f

[2021-01-15 16:14] ggdaltoso commented on #205
@TomAndril @mctang719

I've just published an alpha release fixing this issue.
[@react95/core@2.13.5-alpha.0](https://www.npmjs.com/package/@react95/core/v/2.13.5-alpha.0).

Could you guys, please, check if it is working?

In addition to the alpha version, there is still some config you may need to add to your application. You can check if the doc is enough [here](https://github.com/React95/React9

[2021-01-15 16:58] ggdaltoso commented on #205
Just to see if it is working, I did a quick start project following the steps from the [NextJS official guide](https://nextjs.org/learn/basics/create-nextjs-app) and create [this repo](https://github.com/ggdaltoso/nextjs-blog)

[2021-01-15 17:33] mctang719 commented on #205
Works like a charm! Thank you so much @ggdaltoso !

[2021-01-15 17:33] #205 closed

[2021-01-16 14:14] TomAndril commented on #205
It is working absolutely fine! Thank you so much @ggdaltoso

[2021-01-18 19:17] ggdaltoso opened #216 "Modal onClose isn't working on mobile"
https://user-images.githubusercontent.com/6536985/104955170-870bb000-59a8-11eb-9b3b-66e4c24ad794.mp4

[2021-01-18 19:33] #216 closed

[2021-01-19 01:01] mctang719 opened #218 "Window is not defined with next js."
Error message:
[code]
I tried with dynamic import and other methods to get around the issue, but none of them worked.

Fix I did to get around was to delete this line:
React95/packages/clippy/src/ClippyProvider.jsx:9
`window.CLIPPY_CDN = '//s3.amazonaws.com/clippy.js/Agents/';`

I don't see any usage of this CLIPPY CDN. if it is safe to delete, this would be great. Thanks.

[2021-01-19 11:47] ggdaltoso commented on #218
Hi @mctang719 !

Seems to be an easy fix!

Would you like to contribute?

[2021-01-19 16:59] mctang719 commented on #218
I would love to submit a pull request after getting the permission. Just one thing about deleting that line is it seems to be used in clippy js. Not sure if there’s any side effect of doing so. Thanks

[2021-01-19 17:44] ggdaltoso commented on #218
@react95/clippy uses [clippyjs](https://github.com/pi0/clippyjs) under the hood and I think we are good to go with your suggestion.

Clippyjs already handles the assets trough GitHub CDN in a pretty good way, inside the [`load` function](https://github.com/pi0/clippyjs/blob/master/lib/load.js#L6)

Also, the GitHub CDN is faster:
| GitHub CDN | AWS S3  |
|-------------|----------|
| ![GitHubCDN](ht

[2021-01-19 17:52] mctang719 commented on #218
I think I still need the permission to be able to push to a remote branch and submit a PR.

[2021-01-19 18:04] ggdaltoso commented on #218
I've sent you an invitation for our [Gitter](https://gitter.im/React95/React95).

Could we, please, talk in there?

[2021-01-20 10:48] #218 closed

[2021-02-08 08:40] sparky-raccoon commented on #155
Hello there ! Can I take care of this ?
I'd rather go with the first solution ✨

[2021-02-08 11:08] ggdaltoso commented on #155
Of course!

You can easily find me on [Gitter](https://gitter.im/React95/React95) if you need help!

[2021-02-09 19:05] #155 closed

[2021-02-25 09:50] valerioleo opened #231 "When a Window title changes, it doesn't update in taskbar"
Possibly it is due to incorrect use of the library, but on the 95 Recipes showcase, I found the following bug.

If you have a Window open and its title changes, the change won't be reflected in the Taskbar.

Steps to reproduce:
1. open https://95recipes.ggdaltoso.dev/#/torta-de-frango
2. a recipe will be already open (Torta de Frango) and the correct window title is shown in the Taskbar
3. click o

[2021-03-08 11:14] ggdaltoso commented on #231
Hi, @valerioleo !

Sorry for my late reply but I was digging into it and trying to debug where this bug comes from.
It seems to be an issue in 95. There is no one listening to title prop changes (Modal nor ModalProvider).

Would you like to open one PR solving this?

[2021-03-09 11:43] kirkobyte opened #233 "Type for List doesn't include List.Item"
The List component type doesn't include the `List.Item` component that's added on. I think the type for this will need to be explicitly added or `ListItem` could be separately exported so TypeScript consumers can import `ListItem` directly

[2021-03-09 12:14] kirkobyte commented on #233
Ah sorry, I did some digging around and it looks like this was because I hadn't installed `@types/xstyled__styled-components` or `@types/xstyled__system`

[2021-03-09 12:14] #233 closed

[2021-03-12 08:56] kirkobyte opened #235 "Import icons when used instead of adding to CSS"
This is a bit more of a performance optimisation/nice-to-have than anything critical. But if `@react95/icons` exported individual icons instead of adding all of them to [this CSS file](https://github.com/React95/React95/blob/master/packages/icons/icons.css), most of the size for consumers could be cut down.

Taking a look at my project's size, the majority of it is the CSS file containing icons:
!

[2021-03-12 12:51] ggdaltoso commented on #235
Hi again, @kirkobyte ! Glad to see you again here!

Well... there is some history here...

In the beginning, all icons were exported as `.ico`, since each file [can contain multiples sources](https://en.wikipedia.org/wiki/ICO_(file_format)).

To manage all those images inside a `ico` file, I used to use this custom hook:
 - [useIcon](https://github.com/React95/React95/commit/61764656b1be560b5225c6

[2021-03-12 20:25] kaiofelipejs commented on #235
I like the idea of export separated components. This remember big packages like [ant-design-icons ](https://github.com/ant-design/ant-design-icons/tree/bb475e58d967236b5be03073eb0ad6e4bb03719b/packages/icons-react/src/icons)

[2021-03-13 11:34] kirkobyte commented on #235
Ah right so there's been a bit of back and forth there 😅

Yeah, we should be able to keep both! As long as we still generate the CSS file, it could be used by anyone.

We could either make the CSS only available for people who want to use it directly, or keep `@react95/core/Icon` and specify that it will only work if you import the CSS. But I think it might be advisable to avoid that.

[2021-03-13 12:26] kirkobyte commented on #235
If we want to make `@react95/icons` a bit more automated, we could use a Node script to auto-generate both the CSS file and the components.

I think we should be able to knock out both the CSS & component generation in the same file. I think something along these lines would do it:
[code]

[2021-03-13 12:32] kirkobyte commented on #235
I think if we did this, we could use the new generated `Icon*` components internally and leave it up to users to switch form `Icon` to the smaller `Icon*` components without needing to make it a breaking change

[2021-03-13 22:05] kirkobyte commented on #235
I can open a PR attempting this if you’d like 😊

[2021-03-13 23:37] ggdaltoso commented on #235
🤔

It seems to be the best option!

I'm just not sure about the Icons, from `@react95/core`. Maybe we drop it. What do you think? If we do what you're suggesting, and create one component for each `.ico`, the `Icon` will become obsolete, IMHO.

Also, I'm ok with publishing a breaking change. If it is for the best, why not?

It would be awesome to have another PR for you!
It would be a lot of refac

[2021-03-18 08:24] kirkobyte commented on #235
Great! I've got a local branch where I've been working on this. It's taking a bit of time to get the Storybook icon demo working as it previously did. But the rest of it hasn't been too bad to refactor :)

[2021-03-18 08:24] kirkobyte commented on #235
I'll try get it into a state where I can open a PR this weekend

[2021-03-20 14:09] breno-felipe opened #236 "Creating a calendar component"
Hello guys!

How are you ? I hope you are well :)

Thinking about a personal project of mine to create an agenda to organize my studies and Course Conclusion Work, alerting me when I should study for each purpose, I thought about the possibility of having a calendar component with the theme of React95.

An idea would be like this of how the component could look

![image](https://user-images.github

[2021-03-20 22:28] #236 closed

[2021-03-20 22:30] breno-felipe commented on #236
Moved to discussion channel

Access here https://github.com/React95/React95/discussions/237

[2021-04-19 18:40] #235 closed

[2021-04-20 07:20] kirkobyte opened #242 "Remove unnecessary dependencies and move dev dependencies to devDependencies"
Some dependencies like `styled-system/prop-types`, `react-virtualized`, `isomorphic-fetch` and `@types/react-virtualized` don't appear to be used in the project and could be removed.

Others, like `ts-loader`, `icojs` are only used in development of React95 and can be moved to `devDependencies` to make sure consuming apps don't end up with those packages in their `node_modules` when they install R

[2021-04-20 11:34] ggdaltoso commented on #242
Seems to be easy to solve and you already describe almost everything we need to do :+1:

Maybe you could guide someone to help us with this one or we could submit a PR with those changes.

[2021-04-20 12:56] kirkobyte commented on #242
Sure thing! If anyone else wants to take a look at this before I get a chance to open a PR:

1. look through all `package.json` files in the project, look for packages in the `dependencies` field that aren't referenced elsewhere in the runtime
    - If they're used in the build tools (e.g. `processIcons.ts` or other build steps), move them to `devDependencies`
    - If they aren't referenced anywh

[2021-04-21 19:59] #152 closed

[2021-04-22 20:20] #242 closed

[2021-04-23 11:12] breno-felipe opened #253 "Error found to run the project using Next.js"
Ei, everyone!

The error happens whenever execute the project, running the command `yarn dev`.

At execute command `yarn dev` an error is return, conform image bellow.

The configuration to using the @React95 with Next.js was made at archive next-config.

Same with configuration the error happens.

![image](https://user-images.githubusercontent.com/50807243/115861595-5608a480-a409-11eb-88ec-b0e0cb

[2021-04-23 12:01] ggdaltoso commented on #253
Seems to be missing all png files into our dist folder 😨

Would you like to open a PR fixing this?

[2021-04-23 14:18] breno-felipe commented on #253
Yes, seems who this is the problems.

I can open yes

[2021-04-25 18:54] ggdaltoso commented on #253
Hey, @kirkobyte! Look what's missing! :joy:

I should like to take this opportunity to ask what you guys think would be nicer:
 1.  copy the PNG folder to the `dist`
 2.  transform all PNG to base64, using [babel `inline-import-data-uri`](https://github.com/React95/React95/blob/master/packages/core/babel.config.js#L7) we already have

[2021-04-25 19:48] ggdaltoso commented on #253
I've published 2 new version (alpha) to test this
 - @react95/core: 4.1.2-alpha.0
 - @react95/icons: 2.0.3-alpha.0

[2021-04-26 11:24] kirkobyte commented on #253
Whoops! I think we should copy the PNG folder into `dist`. I think having users set up their own image loader is a pretty reasonable expectation. If images are kept separate, loading can be deferred to when they're actually rendered on the page. If we base64 transform them, they'll all be included in the main bundle size which is a bit less performant

[2021-04-30 17:12] claire-scout opened #259 "Icons Issue"
When I try to install react95/icons using command npm install @react95/icons or yarn add @react95/icons, it doesn't seem to install everything necessary. When I try to follow the instructions in the docs of importing the css file `import '@react95/icons/icons.css'`, I get the error `...node_modules/@react95/icons/esm/react/Access110.js
Module not found: Can't resolve '../../png/Access110_16x16_4.p

[2021-05-03 11:44] ggdaltoso commented on #259
Hey, @claire-scout !!! Glad to see you here!

This seems to be a duplicate from #253 and will be solved by #260 🙏

But, in addition to that, I would like to invite you to build a better doc for @react95/icons. What we have in our current doc, describes what we have to do to consume the icons package as a CSS file but, when we merge #238, we've forgotten to update the description with how to use an

[2021-05-03 11:50] #259 closed

[2021-05-03 11:51] ggdaltoso commented on #253
I think it won't be an issue anymore since we merged #260

We can reopen this if not!

[2021-05-03 11:51] #253 closed

[2021-05-19 16:17] ggdaltoso commented on #194
Hey, @macrozone!

Could you, please, check our brand new version of @react95/core (5.0.0) and see if it is working for you?

@kirkobyte did an amazing job in #261 and I think it closes your issue too.

Please, tell me when you check it to close this issue. Ok?

[2021-05-30 22:27] ggdaltoso opened #262 "Missing assets folder for `<GlobalStyle />`"
![image](https://user-images.githubusercontent.com/6536985/120122064-fbd3cf80-c17c-11eb-82d3-5f0021a645c0.png)

[2021-05-30 22:36] #262 closed

[2021-06-05 19:48] ggdaltoso commented on #194
Hey, @macrozone

I'm closing this issue assuming your problem has been solved by #261

We can always reopen it if you want to.

[2021-06-05 19:48] #194 closed

[2021-06-05 19:49] macrozone commented on #194
Thx, no worries, thank you guys!

Gabriel Daltoso ***@***.***> schrieb am Sa. 5. Juni 2021 um
21:48:

--

Marco Wettstein

Senior Software Engineer

Mobile: +41 78 817 67 26

GitHub: macrozone <https://github.com/macrozone>

Panter AG

Sihlquai 131, CH - 8005 Zürich

[2021-06-05 19:50] ggdaltoso commented on #189
@kaiofelipejs

@react95/icons now export each icon as a separated component so it may solve your issue.

Could you check it again, please?

[2021-06-05 19:51] ggdaltoso commented on #84
@davesnx @Avi98

Is this still a thing for you?

[2021-06-05 22:54] kaiofelipejs commented on #189
Niceeeee!!!!! Congrats bro, this will take the project to next level.
I update packages in my project, run analyzer and the result is:

![image 1](https://user-images.githubusercontent.com/41922744/120907163-b0feff80-c635-11eb-8c64-0ac41cf2a0d2.png)

Amazing! Before was +1.2Mb!!!

[2021-06-06 14:24] ggdaltoso commented on #189
Nice!

I'll close the issue and if it happens again we could open it again.

Thanks, @kaiofelipejs and @kirkobyte !

[2021-06-06 14:24] #189 closed

[2021-06-06 21:40] davesnx commented on #84
Was a wish from 2 years ago, not sure if I would define it as a thing for me haha

Thanks for the following up, happy to close it thought.

[2021-06-08 12:28] #84 closed

[2021-08-05 18:38] virsaviya opened #273 "Clippy is undefined"
As part of a hackathon I'm working on, I'm adding clippy to an existing app but he keep coming in `undefined`.

The hook, `useClippy` is defined, and when I call it,

[code]

`clippy` exists as a key, so I know my provider is set up correctly,  but the value is `undefined`. Is this a bug or am I initializing something wrong?

Thanks!

[2021-08-05 19:08] ggdaltoso commented on #273
Our `useClippy` hook consumes [`clippyjs`](https://github.com/pi0/clippyjs) dependency and we should handle this consumption by doing adding this `useEffect` function:

[code]

When Clippy is ready to be used, then the `useEffect` will fire and trigger what you want him to do.

Please, let me know if this code helped you!

[2021-08-05 19:12] ggdaltoso commented on #273
In addition to that, we have two ready-to-use templates that would work great as a hackathon template!

Take a look in:
 - [CRA Template](https://github.com/React95/React95/tree/master/packages/cra-template)
 - [CRA Template with TypeScript](https://github.com/React95/React95/tree/master/packages/cra-template-typescript)

🚀

[2021-08-16 12:18] ggdaltoso commented on #158
There is a very accurate font on [98.css](https://github.com/jdan/98.css) that we could use too...  🤔

[2021-09-07 05:18] earksiinni commented on #253
Unfortunately, I'm still seeing this error with next 11.0.1, @react95/core 5.5.0, and @react95/icons 2.0.4.

[2021-09-07 05:22] earksiinni commented on #253
Sorry, I wrote too soon. I'm actually getting a different error that references the same file as in the original error above:

[code]

[2021-09-07 05:27] earksiinni commented on #253
Ah. I figured out the problem. You need to add `@react95/icons` to the list of transpiled modules in `next.config.js`. My config looks like:

[code]

You may want to update the readme.

[2021-09-09 22:39] ggdaltoso commented on #253
Hey, @earksiinni

I'm glad you found the solution so quickly!

What do you think about adding it to [Core's README](https://github.com/React95/React95/tree/master/packages/core#nextjs)? There is a section just for NextJS and it would be great to have your solution there.

[2021-10-02 22:23] dlomax64 opened #283 "Altering the CSS of a component"
Is there a good way to change the CSS of a component? For example, I'm trying to change the z-index of a modal that is out of focus, but since the class names are seemingly random, I'm not sure how to reference the elements in order to change these values.

Edit:
I'm asking specifically how to alter the modal's css properties when it's out of focus and in focus. I know that I can apply a style to

[2021-10-03 13:44] ggdaltoso commented on #283
Hi, @dlomax64

I was trying to reproduce your issue and ended up with [this CodeSandbox solution](https://codesandbox.io/s/confident-pond-y7g8n?file=/src/App.js) but it doesn't seem to solve your main issue.

In other words, you can easily extend a component style using [styled-components API](https://styled-components.com/docs/basics#extending-styles)

[code]

But this wouldn't seem to solve your

[2021-10-03 13:48] ggdaltoso commented on #273
@virsaviya I'm closing this issue but we can reopen it if you want

[2021-10-03 15:55] dlomax64 commented on #283
My specific problem is that I have an animated svg on the background that the modal falls behind whenever it goes out of focus. Whenever I try to alter the modals z-index, the in-focus modal won't always appear above out of focus windows. The problem with the method you posted is that it makes the z-index for the modal 10 whether it's in focus or not.

I wonder if you could make it to where you ca

[2021-10-05 02:19] dlomax64 commented on #283
I feel real silly right now. I finally determined why the windows kept falling behind my svg even though they had the same z-index. I was rendering the windows before the svg. Simply switching the order that my elements get rendered fixed it. Thanks for trying to help!

[2021-10-05 02:19] #283 closed

[2021-10-05 11:48] ggdaltoso commented on #283
I'm glad to know you could solve this!

But feel free to contribute with React95. I would love to discuss and help you with an issue or feature.

Thanks, @dlomax64

[2021-11-02 08:16] breno-felipe opened #288 "New resource from fullscreen to the component Video"
Hi @ggdaltoso

To the component of Video liked this idea to have a resource from full screen.

What you he thinks about ?

I'm create a merge with the implementation from my idea, case do it sense to you can approve my merge or close.
Below i'm leaving a video showing the result  my implementation.

https://user-images.githubusercontent.com/50807243/139805803-b3a2bee6-f62a-48d4-a5ac-1cae332efe9d.m

[2021-11-09 17:50] #288 closed

[2021-11-16 22:55] breno-felipe opened #296 "Problems at using the React95 with next.js"
Hi, @ggdaltoso

I'm make my blog using next.js with React95 but some errors was returned.

This error is returned because an invalid token or unexpected token, conform picture below

![image](https://user-images.githubusercontent.com/50807243/142078567-d299736c-f529-4230-a29d-847deb1900e7.png)

I believe the format the image is exported to returns this error, but I'm not sure.

So I'm investigatin

[2021-11-16 23:41] ggdaltoso commented on #296
Hi, @breno-felipe

Is this related to #253 in any way?

[2021-11-17 00:09] breno-felipe commented on #296
Yes, a solution presented by @earksiinni is what I ended up doing and it worked

[2021-11-18 17:37] #296 closed

[2022-01-18 01:50] cybaj opened #313 "Is it okay to use commercial, really?"
I know this project's license is MIT.
But I worry about that MS wouldn't okay for this.

I have called with MS service center, but received common response with [MS copyright webpage](https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/permissions). They said "call a lawyer".

- Use of Microsoft Copyrighted Content : https://www.microsoft.com/en-us/legal/copyright/permissions
- Co

[2022-01-19 13:50] ggdaltoso commented on #313
It is really a good point 🤔

I'll try to dig into this and let you know what I found

[2022-01-19 14:01] ggdaltoso commented on #313
Maybe @grassmunk can help here a little bit?

[2022-01-21 18:36] ggdaltoso commented on #313
Hey, @cybaj

After talking with some specialists about it, the solution for this is quite simple: we just need to add this sentence

at the top of our license file. It would be nice to have this message somewhere in the README as well.

So, do you want to contribute?

[2022-01-22 10:41] Betweenwonders opened #314 "help with installing theme(macos big sur)"
when I ran code npm install @react95/core @react95/gatsby-theme styled-components these error messages came up:

---

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: betweenwonders@1.0.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependenc

[2022-01-24 01:30] cybaj commented on #313
@ggdaltoso Okay, thank you for the answer and contribution suggestion. I will contribute it.

[2022-02-06 18:39] Mrpanquecas opened #319 "CDN's for clippy are down"
Can't reach the CDN's for clippy over at

https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/agents/Clippy/agent.js

and

https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/agents/Clippy/sounds-mp3.js

[2022-02-07 13:38] ggdaltoso commented on #319
🤔

It is probably related to [this commit](https://github.com/React95/React95/commit/a8b861f863eb95a57d2cb972902b3a35f0e1bed2) which comes as solution for #218

So, it looks like `gitcdn` isn't the best provider. Although it is faster, sometimes it comes down (don't know why).
We can rollback this changes but need to check window conditionally before setting this new env variable.
Easy fix, I gues

[2022-02-07 13:46] ggdaltoso commented on #313
closed by #318

[2022-02-07 13:46] ggdaltoso commented on #313
closed by #318

[2022-02-07 13:46] #313 closed

[2022-02-08 23:02] Mrpanquecas commented on #319
Do I need specific permissions to contribute? @ggdaltoso

[2022-02-08 23:12] ggdaltoso commented on #319
You shouldn't!

Just fork the project and make sure to follow our contribution guidelines

[2022-02-13 16:09] Mrpanquecas commented on #319
I created [this pr](https://github.com/React95/React95/pull/321) but I don't really know how to test clippy locally on story book :)

[2022-02-14 11:48] ggdaltoso commented on #319
Yes, it does!

As soon as this code runs in the server, it would get into the falsy condition. When the code reaches the browser, the window will be available and the CDN will be changed.

Clippy will work only on the client side and not in the server side so, your solution will work as expected (I hope 😂)

We might need something better to test Clippy, you're right. Maybe we can get a CRA into it

[2022-02-15 13:29] #319 closed

[2022-02-17 19:03] ggdaltoso commented on #314
hey @Betweenwonders !

Can you share a repo to help in reproducing this behavior?

[2022-03-02 13:27] andomain commented on #314
Looks like this NPM module doesn't currently support React 17+
Easy step to reproduce this is to bootstrap a React app using up to date CRA and attempt to install the package.

[code]

[2022-03-11 11:37] ggdaltoso commented on #314
@andomain I think it would be addressed in #317 since we just need to bump react version in @react95/core.

@mavericardo is working on it but feel free to sync with he or even opening a PR just to fix this.

I'm glad to see this is a easy solution, btw!

[2022-04-05 19:52] #314 closed

[2022-04-09 02:59] acupoftee opened #331 "Failed to compile due to file React95 dependency"
I began a new project with React95 using React v18.0.0. I was trying to compile a simple App component to test my setup and received the following error:

[code]

Here's the code that I've tried to compile below. I've only modified `App.js` after creating the project with `create-react-app`.

[code]

Thank you in advance for your help!

[2022-04-11 11:28] ggdaltoso commented on #331
Hi, @acupoftee!

Thanks for bringing me this issue!

Which version of @react95/core are you using?

[2022-04-13 12:25] ggdaltoso commented on #331
I reproduce your issue and I'm working on it!

[2022-05-04 19:54] #331 closed

[2022-05-05 11:32] ggdaltoso commented on #331
@acupoftee This is has been fixed by #334 and now you're ready to go.

Please, feel free to contribute even more! You can always open new issues or create a pull request!

🎉

[2022-05-07 04:20] chadlavi opened #335 "input and textfield have rounded corners on iOS"
I think they just need `-webkit-appearance: none;` in their CSS.

[2022-05-08 23:05] ggdaltoso commented on #335
Would you like to contribute?

[2022-05-09 18:51] #335 closed

[2022-05-10 01:34] ggdaltoso commented on #335
Hey, @chadlavi!

You should have your issue fixed on [@react95/core@6.0.2](https://www.npmjs.com/package/@react95/core/v/6.0.2) 🎉

Thanks for opening it and feel free to open more!
Thanks for the effort also, @mavericardo 💪

[2022-07-03 20:58] jjghali opened #351 "React version issue with latest version of Gatsby"
I was about to install the required modules for gatsby but I have hit the following issue:
[code]

I have ran the following command:
[code]

Im using gatsby 4.17.2

[2022-07-06 13:22] jjghali commented on #351
Sure!

[2022-07-16 00:20] ggdaltoso commented on #158
It looks like 98.css doesn't have support for Latin characters either.

I'm almost closing this issue... 😞

[2022-09-10 00:12] Juuddi opened #369 "TaskBar window buttons rendering double"
## Description

I've just recently installed `react95@core` and have been experimenting with components. Started off with the `taskbar` and noticed that when adding a `modal` to the list and opening the modal from the taskbar, it renders 2 window buttons within the frame.  They continue to multiply as you open and close the modal.

## Screenshots
<img width="874" alt="Screen Shot 2022-09-09 at 7 0

[2022-09-12 11:42] ggdaltoso commented on #369
That's weird!
Could you provide a repo to help me to reproduce such behavior?

And I'd love to guide you in this fix, if you want to.

Thanks for opening this issue and for using React95 library!

[2022-10-24 07:02] Juuddi commented on #369
Thanks for responding @ggdaltoso, think I fixed this a while back. Can't remember exactly what was causing it but think it was some package mis-versioning or improper use of state for modal toggling. Sorry for the bother!

Absolutely love React95, thanks for all the great work!

[2022-10-24 07:02] #369 closed

[2022-10-24 11:27] realdeadbeef opened #373 "React Version issues when using gatsby"
I've followed the quick start tutorial to a tee even as far as using the default name for the project but i cannot get react95 to install

my error:
[code]

[2022-10-24 11:44] ggdaltoso commented on #369
I'm glad that you're enjoining React95 so far!

I hope this issue doesn't get you away from contributing!
I'd love to see a PR from you! <3

[2022-10-24 11:58] ggdaltoso commented on #373
Could you provide a repo for me to help you to debug?

[2022-10-24 12:28] realdeadbeef commented on #373
I literally just ran

`gatsby new my-nostalgic-blog`

`npm install @react95/core @react95/gatsby-theme styled-components`

That is literally all I did

[2022-10-31 20:47] rfoel commented on #373
The issue here is that the package `@react95/gatsby-theme` has [this peer dependency](https://github.com/React95/React95/blob/master/packages/gatsby-theme/package.json#L48) set to `^17.0.2`, so if you are using npm v7 or above it will throw this error.

One way to fix this issue is to follow the instructions under the error:
<img width="578" alt="image" src="https://user-images.githubusercontent.c

[2022-11-01 19:59] ggdaltoso commented on #373
It really makes sense, @rfoel

I'll make some tests with it, and you can consider as I'm reviewing your PR.

Also, thanks for getting it!

[2022-11-06 01:50] jabusir opened #377 "theme.colors is undefined in TitleBarBackground in TitleBar.js"
This bug occurred while trying to use the 'Video' component. I copied and pasted from the storybook exactly, and then got an error saying that "@xstyled/styled-components" was not found so I added that to the dependencies and installed using yarn.

Then I got the error saying that 'theme.colors is undefined'.

I've replicated the bug in a codesandbox.
https://codesandbox.io/s/sharp-artem-o3jxsz?fi

[2022-11-07 10:28] ggdaltoso commented on #377
Hi, @jabusir! Thanks for using React95 and for opening this issue.

You need to wrap your application with `ThemeProvider` to get used to all its variables.
I forked your example and got it running by following what I just said
https://codesandbox.io/s/mystifying-swartz-xz4bhn

I'm closing this issue for now, but we can always reopen it if it happens again

[2022-11-07 10:28] #377 closed

[2022-11-07 10:49] ggdaltoso commented on #373
@rfoel

Your solution seems to be right to me but not for Gatsby and I'm still trying to understand what is happening.
If you wanna to do the test by yourself, just follow these steps:
 1. In your fork, build and prepare React95 package to be published, spawning
    - `yarn build && yarn lerna run prepublishOnly` in the root folder.
 2. This will create the production build in your environment. Le

[2022-11-08 11:09] ggdaltoso commented on #377
It is currently on [@react95/core README file](https://github.com/React95/React95/tree/master/packages/core#usage)

A little out of date but the information you are looking for is there.
Let me know if you have any idea to make it better.

I hope to get a contribution of yours!

[2022-11-26 12:45] bharadhwaj opened #385 "@react95/core + Nextjs: Module parse failed error"
Hi,

I am getting following error when trying to integrate `@react95/core` to a Nextjs app.

[code]

Here is my `package.json`
<img width="503" alt="image" src="https://user-images.githubusercontent.com/3716954/204089573-18bfb174-583d-4dd1-9441-58490d484857.png">

Here is my `_app.tsx`

[code]

Not sure how to fix this error. Any help will be appreciated.

[2022-11-26 12:56] bharadhwaj commented on #385
Closing this as I missed a few installation details mentioned [here](https://github.com/React95/React95/tree/master/packages/core#nextjs).

Works fine now.

[2022-11-26 12:56] #385 closed